<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <title>Mengxue Yao – Academic Profile</title>
  
    <meta name="description" content="Mengxue Yao’s personal academic website. Her research focuses on urban air quality modeling, deep learning, and sustainable cities.">
    <meta name="author" content="Mengxue Yao">
  
    {{ partialCached "blox/css.html" . }}
    {{ partialCached "blox/js.html" . }}
    {{ partialCached "blox/head-extra.html" . }}
  </head>